<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    <ul><h3>MENU</h3>
        <li><a href="/">INDEX</a></li>
        <li><a href="/galeria">GALERIA</a></li>
        <li><a href="/contato">CONTATO</a></li>
        <li><a href="/sobre">SOBRE</a></li>
        <li><a href="/tabuada">TABUADA</a></li>
        <li><a href="/nsb">NOME E SOBRENOME</a></li>
        <li><a href="/nmr">IMPAR E PAR</a></li>
        <li><a href="/area/10.0/5.0">AREA</a></li>
        <li><a href="/potencia/10.0/5.0">POTENCIA</a></li>
        <li><a href="/teste">TESTE</a></li>
        <li><a href="/juros">JUROS</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>